[build-system]
requires = ["setuptools >= 77.0.3"]
build-backend = "setuptools.build_meta"

[project]
name = "ha_conversation_api_forwarder"
version = "0.0.3"
authors = [
  { name="MafiaCoconut", email="alex.kach.2000@gmail.com" },
]
description = "Module to forward commands from HA to your custom outside service"
readme = "README.md"
requires-python = ">=3.12"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
license = "MIT"
license-files = ["LICEN[CS]E*"]
dependencies = [
    "requests>=2.32.4",
    "aiohttp>=3.9.0,<3.13",
]

[project.urls]
Homepage = "https://github.com/MafiaCoconut/ha-conversation-api-forwarder"
Issues = "https://github.com/MafiaCoconut/ha-conversation-api-forwarder/issues"


[project.optional-dependencies]
test = [
    "pytest~=7.4.2",
    "pytest-html~=4.0.2",
    "pytest-asyncio~=0.21.1",
    "pytest-lazy-fixture~=0.6.3",
    "pytest-mock~=3.12.0",
    "pytest-mypy~=0.10.3",
    "pytest-cov~=4.1.0",
    "pytest-aiohttp~=1.0.5",
    "aresponses~=2.1.6",
    "pytz~=2023.3",
    "pycryptodomex~=3.19.0",
]

[tool.pytest.ini_options]
asyncio_mode = "auto"
testpaths = [
    "tests",
]
filterwarnings = [
    "error",
    "ignore::pytest.PytestUnraisableExceptionWarning",
]