html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: white; font-size: 1.1em; }
h1 { font-family: sans-serif; color: #377ba8; margin: 1rem 0; }
a { color: #184d71; font-weight: bold; text-decoration: none; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.correct { background: green; color: white; font-weight: bold; font-size: 1.1rem; }
.incorrect { background: #cc822e; color: white; font-weight: bold; font-size: 1.1rem; }
.failed { background: #f4061e; color: white; font-weight: bold; font-size: 1.1rem; }
.error { background: #cc2f2e; color: white; }
.stats { background: #7d2ecc; color: white; margin: 0; padding: 0.2em; border: 1px solid #7d2ecc; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; font-size: 1.5rem; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }

.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }

table.stats { width: 100%; }

table.compact { width: 7em; margin-left: auto; margin-right: auto; background: #efefef; border-radius: 0.5em; padding: 0.5em; font-size: 2em; }
table.compact input { width: 6em; margin: 0; }
table.compact td { padding: 0; }

table.rules {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: #efefef;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 1em;
    border-collapse: collapse;
}
table.rules caption {
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
}
table.rules th {
    text-align: left;
    padding: 0.5em;
    border-bottom: 1px solid black;
}
table.rules td {
    text-align: left;
    padding: 0.5em;
    border-bottom: 1px solid black;
}

.button {
    display: inline;
    color: #184d71;
    text-align: center;
    font-weight: bold;
    line-height: 0.8em;
    font-size: 0.8em;
    padding-top: 0.1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-bottom: 0;
    margin: 0;
    border-width: 1px;
    border-bottom-style: dashed;
}

div.equals {
    padding-left: 1em;
    padding-right: 1em;
}

div.numerator {
    text-align: center;
    width: auto;
}

div.denominator {
    text-align: center;
    width: auto;
}

hr.divisor {
    border-style: solid;
    border-top: 1px solid lightgray;
    width: auto;
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.problem {
    font-weight: bold;
}

table.explain {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background: #efefef;
    padding: 0.5em;
    font-size: 1em;
    border-collapse: collapse;
    border-color: #cc2f2e;
    border-style: solid;
    border-width: 1px;
}

table.explain caption {
    font-weight: bold;
    font-size: 1.5em;
    background: #efefef;
    border-color: #cc2f2e;
    border-style: solid;
    border-width: 1px;
}

table.explain td {
    font-weight: normal;
    font-size: 1.1em;
    line-height: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

div.correct, div.incorrect, div.failed {
    padding-top: 1em;
    padding-bottom: 1em;
}

p.correct, p.incorrect, p.failed {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1em;
    line-height: 1.5em;
}
